h1,
h2,
h3,
h4,
h5 {
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
}
p {
  margin: 10px 0px 20px 0px;
  line-height: 1.5;
}
.app {
  width: 80%;
  margin: 2rem auto;
}

.panels {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panels .panel {
  padding: 1rem;
  border: 2px solid gray;
  border-radius: 5px;
}

.panels .panel .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  gap: 5px;
  white-space: nowrap;
}

.errMsg {
  color: red;
}

.resultTracker {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (min-width: 600px) {
  .resultTracker {
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
  }
  .resultTracker > div {
    flex-basis: 49%;
  }
}

.render {
  opacity: 0;
  font-size: 0.8rem;
  transition: opacity 1s;
  text-align: right;
  color: green;
  font-weight: bold;
  text-transform: uppercase;
}
.render.visible {
  opacity: 1;
}
